:root{
    --primary-text-color: #212121;
    --referent-text-color: #757575;
    --title-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --studio-color: #000000;
    --scills-text-color: #F5F4FA;
    --hero-background-color: #2F303A;
}
.logo-web{
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 0.83;  
letter-spacing: 0.03em;
color: var(--accent-color);
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    /* outline: 2px solid brown; */
    
    width: 1170px;
    margin: 0 auto;
}
li.header-item{
display: inline;
/* outline: 2px solid tomato; */
}
.referents{
    display: flex;
    margin-left: auto;
    padding-right: 15px;
}
.referents .link + .link{
    margin-left: 50px;
}
.header-item .link + .link{
    margin-left: 10px;
}


.header .logo-studio{
color: var(--studio-color);
padding-left: 15px;
}
footer .logo-studio{
color: var(--title-text-color);
}
body{
font-family: 'Roboto', sans-serif;
background-color: var(--title-text-color);
font-size: 14px;
letter-spacing: 0.03em;
padding: 0 auto;
}
.list{
list-style: none;
}
.link{
text-decoration: none;
}
.header-item .link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color);    
}

.link:hover,
.link:focus{
color: var(--accent-color);
}
a.link.current{
color: var(--accent-color);
}
.referents-link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--referent-text-color);
}  
/*-------------------------------------HERO---------------------------*/
.hero{
background-color: var(--hero-background-color);
}
.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--title-text-color);
}
.hero-btn{
background: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: var(--title-text-color);
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
}
.body button{
cursor: pointer;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*--------------------------SCILLS-------------------------------*/
.scills{
background-color: var(--title-text-color);
}
.scills-title{
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}
.scills-item{
font-weight: 400; 
font-size: 14px; 
line-height: 1.71; 
letter-spacing: 0.03em; 
color: var(--referent-text-color);
}
/*-----------------------WORK---------------------------*/
.work{
background-color: var(--title-text-color);
}
.work-title{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
/*----------------------------SPECIALISTS-------------------------------*/
.specialists{
background: var(--scills-text-color);
}
.specialists-title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.specialists-name{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.specialists-directions{
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: var(--referent-text-color);
}
/*----------------------FOOTER------------------------------*/
.footer{
width: 1600px;
margin: 0 auto;
background-color: var(--hero-background-color);
}
 .footer .logo-web{
/* display: flex; */
margin: 150px;
padding-top: 60px;
justify-content: start;
}
.footer-link a{
margin-left: 150px;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--title-text-color);
}
.adress a{
opacity: 60%;
}
/*----------------------------------PORTFOLIO--------------------*/
.navigation,
.superhero{
    background-color: var(--title-text-color);
}
main{
background-color: var(--title-text-color);
width: 1170px;
margin: 0 auto;
outline: 2px solid orange;
}
.navigation-list{
    display: flex;
    justify-content: center;
    margin-top: 94px;
}
.navigation-item + .navigation-item{
    margin-left: 8px;
}
.superhero-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 34px;
    padding: 20px;
}
.superhero-link,
.superhero-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}
.superhero-title{
    margin: 20px 24px 4px 24px;
}
.superhero-descr{
    margin: 0 24px 20px 24px;
}
.superhero-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--referent-text-color);
}
.navigation-btn{
font-family: inherit;
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background-color: var(--scills-text-color);
border-radius: 4px;
border-style: none; 
}
.navigation-btn:hover,
.navigation-btn:focus{
background-color: var(--accent-color);
color: var(--title-text-color);
border-radius: 4px;
border-style: none; 
}

